/* DESKTOP ONLY */
body {
  /* background-color: #181A1B; */
  
}

/***************** Header - Start *****************/
header {  
  /* background-color: #181A1B; */
  background-color: #000;
  width: 100%;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;    
  align-items: center;
}

/***************** Logo - Start *****************/
#logo {  
  width: 50px;
  margin: 0;
  display: inline-block;
  font-size: 0;
}
/***************** Logo - End *****************/

/***************** Nav - Start *****************/
nav {  
  width: 500px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;  
}

.nav-bar {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.nav-links {
  display: inline-block;  
  padding: 15px 33px;
  text-decoration: none;  
}

.nav-links:visited {
  color: #fff;
}

.nav-links:hover, .nav-links:focus, .nav-links:active {
  background-color: #fff;
  color: #DB3E38;
}

/***************** Nav - End *****************/
/***************** Header - End *****************/

/***************** Intro - Start *****************/
#intro {
  background-color: #000;
  color: #fff;
}

#intro h2 {
  margin: 0;
}
/***************** Intro - End *****************/

/***************** About Me - Start *****************/
#about-me {
  /* border: 1px solid orange; */
}
/***************** About Me - End *****************/

/***************** My Work - Start *****************/
#my-work {
  /* border: 1px solid olivedrab; */
}
/***************** My Work - End *****************/

/***************** Contact Me - Start *****************/
#contact-me {
  /* border: 1px solid darkcyan; */
}
/***************** Contact Me - End *****************/