/* DESKTOP ONLY */
* {
  box-sizing: border-box;
}
body {
  /* background-color: #181A1B; */
  
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;  
}

.circle {
  background-color: #fff;
  width: 25px;
  height: 25px;
  display: inline-block;  
  border-radius: 50%;
}

/***************** Header - Start *****************/
header {    
  background-color: #000;  
  color: #fff;  
}

header .container {
  display: flex;
  justify-content: space-between;      
}

/***************** Logo - Start *****************/
#logo {  
  width: 50px;
  margin: 0;
  display: inline-block;
  font-size: 0;
}
/***************** Logo - End *****************/

/***************** Nav - Start *****************/
nav {  
  width: 500px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;  
}

.nav-bar {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.nav-links {
  display: inline-block;  
  padding: 15px 33px;
  text-decoration: none;  
}

.nav-links:visited {
  color: #fff;
}

.nav-links:hover, .nav-links:focus, .nav-links:active {
  background-color: #fff;
  color: #DB3E38;
}

/***************** Nav - End *****************/
/***************** Header - End *****************/

/***************** Intro - Start *****************/
#intro {
  background-color: #000;
  color: #fff;
  height: 500px; 
}

#intro .container {
  position: relative;
  padding: 30px;
  height: 100%;
}

#intro h2 {
  margin: 0;
  padding-left: 40px;
  font-size: 80px;  
  text-transform: uppercase;
  display: inline-block;
}

#intro .circle {
  position: absolute;
  top: 61px;
  left: 17px;
}

#intro-content {
  border-left: 1px solid #fff;
  padding: 30px 0 0 40px;
  height: 100%;
}

#intro-content p {
  margin: 0;
  padding-bottom: 7px;
  font-size: 50px;
}

#intro-content h3 {
  font-size: 22px;
  margin: 30px 0;
  text-transform: capitalize;
}

#down-arrow {
  font-size: 80px;
}

/***************** Intro - End *****************/

/***************** My Work - Start *****************/
#my-work {
  /* border: 1px solid olivedrab; */
}
/***************** My Work - End *****************/

/***************** About Me - Start *****************/
#about-me {
  /* border: 1px solid orange; */
}
/***************** About Me - End *****************/

/***************** Contact Me - Start *****************/
#contact-me {
  /* border: 1px solid darkcyan; */
}
/***************** Contact Me - End *****************/