/* DESKTOP ONLY */
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  color: #1B1818;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  position: relative;
}

.circle {
  background-color: #1B1818;
  width: 25px;
  height: 25px;
  display: inline-block;  
  border-radius: 50%;
  position: absolute;
  top: 61px;
  left: 17px;
}

.section-title {
  font-size: 64px;
  margin: 0;
  padding-left: 40px;    
  text-transform: uppercase;
  display: inline-block;
}

.group {
  display: flex;
  padding: 30px 0 40px 30px;
  border-left: 1px solid #1B1818;
}

/***************** Header - Start *****************/
header {    
  background-color: #000;  
  color: #fff;  
}

header .container {
  display: flex;
  justify-content: space-between;      
}

/***************** Logo - Start *****************/
#logo {  
  width: 50px;
  margin: 0;
  display: inline-block;
  font-size: 0;
}
/***************** Logo - End *****************/

/***************** Nav - Start *****************/
nav {  
  width: 500px;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;  
}

.nav-bar {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

.nav-links {
  display: inline-block;  
  padding: 15px 33px;
  text-decoration: none;  
}

.nav-links:visited {
  color: #fff;
}

.nav-links:hover, .nav-links:focus, .nav-links:active {
  background-color: #fff;
  color: #DB3E38;
}

/***************** Nav - End *****************/
/***************** Header - End *****************/

/***************** Intro - Start *****************/
#intro {
  background-color: #000;
  color: #fff;
  height: 500px; 
}

#intro .circle {  
  background-color: #fff;
}

#intro h2, #intro h3 {
  color: #fff;
}

#intro .section-title {
  font-size: 72px;
}

#intro-content {
  border-left: 1px solid #fff;
  padding: 30px 0 0 40px;
}

#intro-content p {
  margin: 0;
  padding-bottom: 7px;
  font-size: 50px;
}

#intro-content h3 {
  font-size: 22px;
  margin: 30px 0;
  text-transform: capitalize;
}

#down-arrow {
  font-size: 80px;
  font-family: 'Roboto Slab', serif;
}

/***************** Intro - End *****************/

/***************** My Work - Start *****************/
.project {
  flex: 1;
  padding: 0 10px;
}

.project:hover > .project-name{
  color: #DB3E38;
}

.project-img {
  width: 100%;
}

.project-title {
  color: #4D4E4D;
}

.project-description {
  color: #B4B5B3;
}

.project-link {
  color: #4D4E4D;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.project-link:hover {
  color: #DB3E38;
}

/***************** My Work - End *****************/

/***************** About Me - Start *****************/
#about-me {
  /* border: 1px solid orange; */
}
.my-photo img{
  border-radius: 50%;
}

.my-story {
  margin-left: 50px;
}

/***************** About Me - End *****************/

/***************** Contact Me - Start *****************/
#contact-me .group {
  padding: 60px 0;
}
.contact {
  flex: 1;
  align-self: baseline;  
  display: flex;
  flex-direction: column;  
  align-items: center;
}
.contact-icon {
  width: 50px;
  height: 50px;
}

.contact a {
  color: #4D4E4D;
  font-weight: bold;
  text-decoration: none;  
}

.contact a:hover {
  color: #DB3E38;  
  cursor: pointer;
}

.contact p {
  text-align: center;
  padding-top: 7px;
}
/***************** Contact Me - End *****************/

/***************** Footer - Start *****************/
footer {
  background-color: #000;
  color: #fff;
}
footer .group {
  border-left: 1px solid #fff;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #DB3E38;
}
/***************** Footer - End *****************/